<div class="chirp">
	<div class="chirp-img"><img src='{{chirpImage}}' /></div>
	<div class="inside-chirp">
		<div class="chirp-username">{{chirpUsername}}</div>
		<div class="chirp-user">{{chirpUser}}</div>
		<div class="chirp-time">{{time}}</div>
		<div class="chirp-text">{{chirpText}}</div>
		<div class="action-icons"><i tooltip="Reply" class="fa fa-reply"></i><i tooltip="Retweet" class="fa fa-retweet"></i><i tooltip="Like" class="fa fa-star"></i><i tooltip="Activity" class="fa fa-ellipsis-h"></i></div>
	</div>
</div>